*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(0.25turn, cyan, white, cyan);
}

.header {
    text-align: center;
    margin-bottom: 100px;
}

.circular {
    margin-left: 20px;
    font-family: 'Flow Circular';
    font-size: 22px;
    display: inline;
}

.flexbox {
    display: flex;
    transition: 0.8s;
    flex-flow: row nowrap;
    justify-content: center;
    transition: all 0.8s;
    padding: 30px;
    border: 25px dotted #E57C23;
    margin: 0 25px 40px;
}

.flexbox-1, .flexbox-2, .flexbox-3 {
    width: 300px;
    padding: 5px;
    border: 10px solid rgb(255, 146, 78);
    align-self: flex-start;
    height: 20px;
    transition: all 3s;
}



.flexbox-1:hover, .flexbox-2:hover, .flexbox-3:hover {
    transform: translateY(-40px);
    margin: 15px;
    height: 250px;
    transition: 3s;
    overflow: hidden;
}


.flexbox-1:hover p, .flexbox-2:hover p, .flexbox-3:hover p{
    margin-top: 12.5px;
    padding: 0 5px 5px;
    min-height: 500px;
    visibility: visible;
}

.flexbox p {
    visibility: hidden;
}

.flexbox-img {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 30px;
    border: 25px dotted #E57C23;
    margin: 0 25px 40px;

}

img {
    width: 300px;
    height: auto;
    border: 10px groove #B799FF;
    margin: 0 25px;
    transition: all 1s;
}

img:hover {
    transform: translateY(-20px);
}